
    <div class="header-top-bar">
    
    <img src="/images/logo-mercado-liebre.svg" class="logo">
        <nav class="barra-de-busqueda">
        <li><a href="products"></a></li>
                <input type="text" placeholder="Buscar productos, marcas">
                <div class="lupa">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div> 
            
        </nav>
            
        <p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en coutas y sin tarjeta de Crédito</p>
    </div>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
    <nav class="nav-bar">
        <ul class="lista-web">
            <li><a href="">Ofertas</a> </li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="lista-visitante">
            <li><li><a href="register">Crea tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
            <li><a href="login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="compras">Mis compras</a><i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
        </ul>
    </nav>  
    
    
