<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/head') %> 
</head>
<body>
    <header class="header">
    <%- include('partials/header')  %>    
      
    </header>

    <main class="main">
      <img class="banner" src="/images/img-home-banner.jpg" alt="Banner ML">
        <section>
            <h2>Basado en tu última visita</h2>
              <div class="productos"> 
                <article class="articulo">
                  <img src="/images/img-cafetera-moulinex.jpg">
                  <div class="caja-articulo">
                            <div class="logo-envio">
                              <i class="fa-sharp fa-solid fa-truck"></i>
                            </div> 
                              <div class="precio-y-descuento">
                                <span class="precio">$6770</span><br>
                                <span class="descuento">40% Off</span></div>
                              <div class="descripcion">Cafetera Moulinex</div>
                  </div>
                  
                </article>
          
                <article class="articulo">
                  <img src="/images/img-macbook-pro-2019.jpg">
                  <div class="caja-articulo">
                          <div class="logo-envio">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                          </div> 
                            <div class="precio-y-descuento">
                              <span class="precio">$230.000</span><br>
                              <span class="descuento">20% Off</span></div>
                            <div class="descripcion">MacBook Pro 2019</div>
                  </div>
                
                </article>
            
                <article class="articulo">
                  <img src="/images/img-samsung-galaxy-s10.jpg">
                  <div class="caja-articulo">
                            <div class="logo-envio">
                              <i class="fa-sharp fa-solid fa-truck"></i>
                            </div> 
                            <div class="precio-y-descuento">
                              <span class="precio">$7500</span><br>
                              <span class="descuento">40% Off</span></div>
                          <div class="descripcion">Cafetera Moulinex</div>
                  </div> 
                </article>
          
                <article class="articulo">
                  <img src="/images/img-tv-samsung-smart.jpg">
                  <div class="caja-articulo">
                          <div class="logo-envio">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                          </div> 
                          <div class="precio-y-descuento">
                            <span class="precio">$23200</span><br>
                            <span class="descuento">5% Off</span></div>
                          <div class="descripcion">SmartTV Samsung 43" </div>
                  </div>
                  
                </article>
              </div>  
        </section>
        <section>
            <h2>Ofertas</h2>
            <div class="productos"> 
              <article class="articulo">
                <img src="/images/img-cafetera-moulinex.jpg">
                <div class="caja-articulo">
                          <div class="logo-envio">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                          </div>
                          <div class="precio-y-descuento"> 
                          <span class="precio">$6770</span><br>
                          <span class="descuento">40% Off</span></div>
                          <div class="descripcion">Cafetera Moulinex</div>
                      </div>
              </article>
              <article class="articulo">
                <img src="/images/img-macbook-pro-2019.jpg">
                <div class="caja-articulo">
                        <div class="logo-envio">
                          <i class="fa-sharp fa-solid fa-truck"></i>
                        </div> 
                        <div class="precio-y-descuento">
                          <span class="precio">$230.000</span><br>
                          <span class="descuento">20% Off</span></div>
                        <div class="descripcion">MacBook Pro 2019</div>
                      </div>
              </article>
              <article class="articulo">
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <div class="caja-articulo">
                          <div class="logo-envio">
                          <i class="fa-sharp fa-solid fa-truck"></i>
                          </div>
                          <div class="precio-y-descuento"> 
                            <span class="precio">$7500</span><br>
                            <span class="descuento">40% Off</span></div>
                        <div class="descripcion">Cafetera Moulinex</div>
                </div>
                
              </article>
        
              <article class="articulo">
                <img src="/images/img-tv-samsung-smart.jpg">
                <div class="caja-articulo">
                        <div class="logo-envio">
                          <i class="fa-sharp fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-y-descuento"> 
                            <span class="precio">$23200</span><br>
                            <span class="descuento">5% Off</span></div>
                        <div class="descripcion">SmartTV Samsung 43"</div>
                </div>
                
              </article>
            </div>  
      </section>
    </main>
    <footer class="footer">
      <div class="elementos">
        <section>

            <i class="fa-solid fa-credit-card"></i>

            <h3>Pagá con tarjeta o en efectivo</h3>

            <p>Con Mercado Liebre Cash, tenés cuotas sin interés<br>
                con tarjeta o efectivo en puntos de pago.<br>
                ¡Y siempre es seguro!</p>

        </section>
        <section>

            <i class="fa-solid fa-gift"></i>

            <h3>Envío gratis desde $ 2.500</h3>

            <p>Solo por estar registrad@ en Mercado Liebre,<br> 
                tenés envíos gratis en miles de productos.<br>
                Es un beneficio de Mercado Puntos.</p>

        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>

            <h3>Seguridad, de principio a fin</h3>

            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br> 
                no hay nada que no puedas hacer,<br>
                porque estás siempre protegid@.</p>
        
        </section>
      </div>  
        <section>

            <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>

        </section>
        <section>
          <p class="seal">Made by TravellerCoder 2023</p>
      </section>
    </footer>
</body>





