<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo-mercado-liebre.svg">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="header">
      <div class="header-top-bar">
       
        <img src="/images/logo-mercado-liebre.svg" class="logo">
          <nav class="barra-de-busqueda">
               <input type="text" placeholder="Buscar productos, marcas">
               <div class="lupa">
                <i class="fa-solid fa-magnifying-glass"></i>
               </div> 
           </nav>
              
           <p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en coutas y sin tarjeta de Crédito</p>
      </div>
          <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
      <nav class="nav-bar">
          <ul class="lista-web">
              <li><a href="">Ofertas</a> </li>
              <li><a href="">Tiendas Oficiales</a></li>
              <li><a href="">Vender</a></li>
              <li><a href="">Ayuda</a></li>
          </ul>
          <ul class="lista-visitante">
              <li><a href="registro">Crea tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
              <li><a href="ingreso">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
              <li><a href="compras">Mis compras</a><i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
          </ul>
      </nav>  
      
      
    </header>
    <main class="login">
        <h3 class="titulo">Ingresá a tu Cuenta</h3>
        <form method="post" action="/" class="formRegistro">
            <div>
                <label class="labelForm" for="userNameLog">Nombre de usuario</label>
                <input type="text" class="inputRegistro" name="userNameLog" id="userNameLog" placeholder="Ingresa tu Nombre de usuario">
            </div>
            <div>
                <label class="labelForm" for="passwordLog">Contraseña</label>
                <input type="password" class="inputRegistro" name="passwordLog" id="passwordLog" placeholder="Ingresa tu contraseña">
            </div>
            <div class="buttonContainer">
                <button type="submit">Ingresá</button>
            </div>
        </form>
    </main>
    <footer class="footer">
        <div class="elementos">
          <section>
  
              <i class="fa-solid fa-credit-card"></i>
  
              <h3>Pagá con tarjeta o en efectivo</h3>
  
              <p>Con Mercado Liebre Cash, tenés cuotas sin interés<br>
                   con tarjeta o efectivo en puntos de pago.<br>
                   ¡Y siempre es seguro!</p>
  
          </section>
          <section>
  
              <i class="fa-solid fa-gift"></i>
  
              <h3>Envío gratis desde $ 2.500</h3>
  
              <p>Solo por estar registrad@ en Mercado Liebre,<br> 
                  tenés envíos gratis en miles de productos.<br>
                   Es un beneficio de Mercado Puntos.</p>
  
          </section>
          <section>
              <i class="fa-solid fa-user-shield"></i>
  
              <h3>Seguridad, de principio a fin</h3>
  
              <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br> 
                  no hay nada que no puedas hacer,<br>
                  porque estás siempre protegid@.</p>
          
          </section>
        </div>  
          <section>
  
              <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
  
          </section>
      </footer>
  </body>